# STATIC CONFIGURATION

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"

certificatesResolvers:
  myresolver:
    tailscale: {}

  letsencrypt:
    acme:
      storage: /acme.json
      email: "letsencrypt@nettleship.net" # kept giving an error about parsing the email when using the env ${ACME_EMAIL} # Where LE sends notification about certificates expiring
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0

providers:
  file:
    directory: "./dynamic"
    watch: true

api:
  dashboard: true
  insecure: true
